<h1>Your Feed</h1>
<h3>What's on your mind</h3>
<%= render '/shared/post_form' %>
<br><br>

<% @feed_posts.each do |post| %>
  <div>
    <img src="<%= post.posting_user.profile_picture.url(:small)%>" style="display:inline-block">

    <strong><%= post.posting_user.name %></strong>
    <%= post.details %>
  </div>


  <% if post.image.url != '/images/original/missing.png' %>
    <div>
      <img src="<%= post.image.url(:big) %>">
    </div>
  <% end %>



  <div>
    <% post.comments.each_with_index do |comment, index| %>
      <% if index < post.comments.length%>
        <div>
          <% if comment.user.profile_picture.url != '/images/original/missing.png'%>
            <img src="<%= comment.user.profile_picture.url(:icon) %>">
          <% end %>

          <strong><%= comment.user.name %>:</strong><br>
          <%= comment.details %>
        </div>
      <% end %>
    <% end %>

    <form action="<%= post_comments_url(post) %>" method="POST">
      <input type="text" name="comment[details]" id="comment_details">
      <input type="submit" value="Comment">
    </form>
    <br><br>
  </div>
<% end %>