<br><br>

<% var friendStatus = currentUser.friendStatus(user) %>


<% if(friendStatus === "friend") { %>
  <button class="friend-remove" data-id="<%= user.id %>">Remove Friend</button>
<% } else if(friendStatus == "requiresFriendResponse") { %>
  <%=  "awaiting friend response" %>
<% } else if(friendStatus == "requiresYourResponse") { %>
  <button class="friend-confirm" data-id="<%= user.id %>">Confirm Friend</button>
<% } else if(friendStatus == "notFriends") { %>
  <button class="friend-add" data-id="<%= user.id %>">Add Friend</button>
<% } %>


<br>
<img src="<%= user.get('photo_urls').medium %>">

<% _.keys(user.attributes).forEach(function(key) { %>
  <%= key %>: <%= user.get(key) %><br>
<% }); %>


<% user.get('favorite_food_ids').forEach(function(food_id) { %>
  <% var food = foods.get(food_id) %>
  <% if(food) { %>
    <img src="<%= food.get('photo_urls').medium %>">
  <% } %>
<% }); %>

<ul>
  <!-- note: have this as a nav in the future that takes up teh whole page. the content renders depending on what the user has selected -->
  <li id="render-posts"><a>Posts</a></li>
  <li id="render-photos"><a>Photos</a></li>
  <li id="render-friends"><a>Friends</a></li>
</ul>


<div id="profile-content">
</div>