<!-- user photo -->

<div class="post">
  <div class="row">
    <div class="col-xs-1 col-sm-2">
      <a href="#/users/<%= post.get('user').id %>">
        <img src="<%= post.get('user').get('photo_urls').small %>" class="posting-user-image">
      </a>
    </div>
    <div class="col-xs-10 col-sm-9">
      <div class="row">
        <a href="#/users/<%= post.get('user').id %>" class="post-username">
          <%= post.get('user').get('name') %>
        </a>
        <%= post.get('details') %>
      </div>
      <% if(post.get('image_urls').medium) { %>
        <div class="row">
          <img src="<%= post.get('image_urls').medium %>" class="post-image img-thumbnail">
        </div>
      <% } %>

      <div class="row like-info">
        <!-- post like/unlike button -->
        <div class="like-button" data-type="post" data-id="<%= post.id %>">
          post like button goes here
        </div>

        <!-- liking_users -->
        <div class="liking-users" data-type="post" data-id="<%= post.id %>">
          post-liking-users go here
        </div>
      </div>

      <!-- comments (include photo, name, comment, like) -->
      <div class="post-comments">
        post comments go here
      </div>
    </div>
  </div>
</div>