<!-- user photo -->
<img src="<%= post.get('user').get('photo_urls').small %>">

<!-- user name -->
<%= post.get('user').get('name') %>
<br>

<!-- details -->
<%= post.get('details') %>

<!-- liking_users -->
<br>
<div>liked by: 
<% _.each(post.get('liking_users').models, function(user) { %>
  <a href="#/users/<%= user.get('id') %>"><%= user.get('name') %></a>
<% }); %>
</div>  

<!-- like/unlike button -->


<!-- comments (include photo, name, comment, like) -->
<div>
<% _.each(post.get('comments').models, function(comment) { %>
  <div>
    <% var user = comment.get('user') %>
  </div>
<% }); %>
</div>

<!-- add comment field -->

<% _.each(post.get('comments').models, function(comment) { %>
  <%=  comment.get('details') %><br>
<% }); %>