<h1><%= @user.name %></h1>

<% if @user.profile_picture.url != '/profile_pictures/original/missing.png' %>
  <img src="<%= @user.profile_picture.url(:medium) %>" class="img-thumbnail">
<% end %>

<% if @user != current_user %>
  <%= render 'shared/friend_action', other_user_id: @user.id %>
  <% end %>

<ul>
  <% @user.attributes.each do |attr| %>
    <li>
      <%= attr[0] %>: <%= attr[1] %>
    </li>
  <% end %>
</ul>

<h4>Favorite Breakfast Foods</h4>
<% @user.favorite_foods.each do |food| %>
  <div><%= food.name %></div>
<% end %>

<% if !@user.posts.empty? %>
  <h4>Posts</h4>
  <% @user.posts.each do |post| %>
  <%= render '/shared/post', post: post %>
  <% end %>
<% end %>