<% button_text = action == :new_user ? "Create Account" : "Sign In" %>
<% case action %>
  <% when :new_user %>
    <% button_text = "Create Account" %>
    <% url = users_url %>
  <% when :new_session %>
    <% button_text = "Sign In" %>
    <% url = session_url %>
  <% when :edit_user %>
    <% button_text = "Update" %>
    <% url = user_url(user) %>
<% end %>

<form action="<%= url %>" method="POST">
  <% if action == :edit_user %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <label for="user_email">Email</label>
  <input  type="text" 
          name="user[email]" 
          value="<%= user.email %>" 
          id="user_email">
  <br>

  <label for="user_password">Password</label>
  <input  type="password" 
          name="user[password]" 
          value="<%= user.password %>" 
          id="user_password">
  <br>


  <% if action != :new_session %>
    <h4>Favorite Foods</h4>
    <% Food.all.each do |food| %>

      <input  type="checkbox" 
              name="user[favorite_food_ids][]" 
              value="<%= food.id %>" 
              id="food_<%= food.id %>" 
              <%= "checked" if user.favorite_foods.include?(food) %>>
      <label for="food_<%= food.id %>">
        <%= food.name %>
      </label>
      <br>
    <% end %>

  <% end %>

  <input type="submit" value="<%= button_text %>">
</form>