<!DOCTYPE html>
<html>
<head>
  <title>EggsBook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    <span>logged in as: <%= current_user.email %></span>
    <span>
      <%= button_to("Log Out", session_url(current_user), method: :delete)%>
    </span>
  <% else %>
    <span><%= link_to "Sign In", new_session_url %></span>
    <span><%= link_to "Create Account", new_user_url %></span>
  <% end %>

  <% if flash[:errors] %>
    <div><%= flash[:errors].split(", ")%></div>
  <% elsif flash[:success] %>
    <div><%= flash[:success]%></div>
  <% end %>

  <%= yield %>

</body>
</html>